@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');

:root {
  --roboto-family: 'Roboto', Arial, Helvetica, sans-serif;
  --racing-sans-one-family: 'Racing Sans One', Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.splide__track {
  overflow: hidden;
}

.splide__list {
  display: flex;
}

.splide__slide {
  outline: none;
}

.splide__pagination {
  height: 0px;
}

.splide__arrows {
  display: flex;
  justify-content: flex-end;
}

.splide__arrow {
  background: transparent;
  border: 1px transparent;
}

.splide__list .is-active {
  background-color: black;
  border-radius: 15px;
}
